<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-left">
        String content modal overlay
      </div>
      <div class="column is-narrow">
        <button (click)="open(content)" class="button is-small is-primary">
          show
        </button>
      </div>
      <div class="column"></div>
    </div>
    <div class="columns">
      <div class="column  has-text-left">
        Yes-No template content modal overlay
      </div>
      <div class="column is-narrow">
        <button (click)="open(tpl)" class="button is-small is-primary">
          Show
        </button>
      </div>
      <div class="column">
        {{ yesNoTemplateResponse }}
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-left">
        Yes-No Component content modal overlay
      </div>
      <div class="column is-narrow">
        <button (click)="open(yesNoComponent)" class="button is-small is-primary">
          show
        </button>
      </div>
      <div class="column">
        {{ yesNoComponentResponse }}
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-left">
        Subscribe form component content modal overlay
      </div>
      <div class="column is-narrow">
        <button (click)="open(subscribeComponent)" class="button is-small is-primary">
          show
        </button>
      </div>
      <div class="column">
        <ng-container *ngIf="subscribeData">
          {{ subscribeData | json }}
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #tpl let-close="close">
  <div class="modal-card">
    <section class="modal-card-body">
      A yes no dialog, using template
    </section>
    <footer class="modal-card-foot">
      <div class="buttons is-right">
        <button (click)="close('yes')" type="button" class="button is-success">Yes</button>
        <button (click)="close('no')" type="button" class="button is-danger">No</button>
      </div>
    </footer>
  </div>
</ng-template>
